@media (max-width:400px) {
    .carrito {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .carrito img {
        width: 30%;
    }
    .carrito-2 {
        margin-top: 1rem;
        border: 1px solid black;
    }
    .img-carrito-oferta {
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .img-carrito-oferta img {
        width: 45%;
    }
}

@media (max-width:700px) {
    body {
        margin: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(237, 237, 237);
    }
    .carrito {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-top: 5%;
    }
    .carrito img {
        width: 30%;
    }
    .carrito-2 {
        margin-top: 1rem;
        border: 1px solid black;
    }
    .img-carrito-oferta {
        width: 90%;
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        margin-top: 5%;
        padding: 5%;
    }
    .img-carrito-oferta img {
        width: 45%;
    }
}

@media (min-width:701px) and (max-width:1921px) {
    body {
        margin: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(237, 237, 237);
    }
    .carrito {
        display: flex;
        margin-top: 7%;
        width: 35%;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .carrito img {
        width: 23%;
        height: 20%;
    }
    .carrito-2 {
        margin-top: 5rem;
        border: 1px solid black;
    }
    .img-carrito-oferta {
        display: grid;
        margin-right: 1.5rem;
        grid-template-columns: 1fr 1fr;
        /* justify-items: end; */
        margin-top: -18rem;
        margin-bottom: 5rem;
        text-align: center;
        margin-left: 35%;
    }
    .img-carrito-oferta img {
        width: 280px;
        height: 280px;
    }
}