body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $c-fondo;
}

.productosImport {
    align-items: center;
    height: 25vh;
    background-color: $c-fondo;
    margin-top: 5%;
}

.titulo-principal {
    color: $c-violeta;
    text-align: center;
    padding: 0.5rem;
    font-size: 1.18rem;
}

.slider {
    width: 300px;
    position: relative;
    display: flex;
    overflow: scroll;
    scroll-snap-type: x mandatory;
    margin-left: 13%;
    margin-top: 5%;
}

.slider img {
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center;
}

.imagenes-carrusel {
    background-color: $c-negro;
    height: 100%;
    display: flex;
    justify-content: center;
}

.titulo-secundario {
    color: $c-violeta;
    text-align: center;
}

.pro-oferta {
    width: 100%;
    margin-top: 5%;
}

.imgOferta {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 8%;
    text-align: center;
    gap: 1rem;
}

.imgOferta div img {
    width: 90%;
    height: 70%;
    border-radius: 15px;
}

.imgOferta div {
    text-align: center;
}

.imgOferta-a {
    text-decoration: none;
    color: $c-negro;
}

@media (min-width:551px) and (max-width:700px) {
    .titulo-principal {
        color: $c-violeta;
        text-align: center;
        font-size: 1.18rem;
    }
    .slider {
        width: 400px;
        position: relative;
        display: flex;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        margin-top: 5%;
    }
    .slider img {
        width: 100%;
        left: 0;
        position: sticky;
        object-fit: cover;
        border-radius: 5px;
        scroll-snap-align: center;
    }
    .productosImport {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        text-align: center;
        color: $c-violeta;
        flex-direction: column;
        align-items: center;
    }
    .titulo-secundario {
        color: $c-violeta;
        text-align: center;
        margin-top: 5%;
    }
    .imgOferta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 4%;
        text-align: center;
    }
    .imgOferta img {
        width: 75%;
        height: 80%;
        border-radius: 15px;
    }
}

@media (min-width:701px) {
    .titulo-principal {
        color: $c-violeta;
        text-align: center;
        font-size: 1.3rem;
    }
    .productosImport {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45vh;
        background-color: $c-fondo;
        margin-top: 6%;
        flex-direction: column;
    }
    .slider {
        width: 500px;
        position: relative;
        display: flex;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        animation: jello-vertical 1.5s linear both;
        margin-left: 0%;
        margin-top: 0%;
    }
    .slider img {
        width: 100%;
        left: 0;
        position: sticky;
        object-fit: cover;
        border-radius: 10px;
        scroll-snap-align: center;
    }
    .imagenes-carrusel {
        background-color: $c-negro;
        height: 300px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .titulo-secundario {
        color: $c-violeta;
        text-align: center;
        font-size: 1.6rem;
    }
    .imgOferta {
        display: flex;
        gap: 1.5rem;
        margin-top: 3%;
        height: 45vh;
    }
    .imgOferta div img {
        width: 100%;
        margin-left: 50px;
        height: 350px;
        border-radius: 40px;
        animation: jello-vertical 1.5s linear both
    }
    .imgOferta-a {
        text-decoration: none;
        color: $c-negro;
        text-align: center;
        img:hover {
            animation: scale-up-top 1s;
        }
    }
    @keyframes jello-vertical {
        0% {
            transform: scale3d(1, 1, 1)
        }
        30% {
            transform: scale3d(.75, 1.25, 1)
        }
        40% {
            transform: scale3d(1.25, .75, 1)
        }
        50% {
            transform: scale3d(.85, 1.15, 1)
        }
        65% {
            transform: scale3d(1.05, .95, 1)
        }
        75% {
            transform: scale3d(.95, 1.05, 1)
        }
        100% {
            transform: scale3d(1, 1, 1)
        }
    }
    @keyframes scale-up-top {
        0% {
            transform: scale(.5);
            transform-origin: center top
        }
        100% {
            transform: scale(1);
            transform-origin: center top
        }
    }
}

@media (min-width:401px) and (max-width:550px) {
    .titulo-principal {
        color: $c-violeta;
        text-align: center;
        font-size: 1.2rem;
    }
    .productosImport {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        text-align: center;
        color: $c-violeta;
        flex-direction: column;
        align-items: center;
    }
    .slider {
        width: 310px;
        position: relative;
        display: flex;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        margin-top: 15px;
    }
    .slider img {
        width: 100%;
        left: 0;
        position: sticky;
        object-fit: cover;
        border-radius: 5px;
        scroll-snap-align: center;
    }
    .imagenes-carrusel {
        background-color: $c-negro;
        height: 100%;
        display: flex;
        justify-content: center;
    }
    .titulo-secundario {
        color: $c-violeta;
        text-align: center;
        margin-top: 5%;
    }
    .imgOferta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 4%;
        text-align: center;
    }
    .imgOferta img {
        width: 85%;
        height: 70%;
        border-radius: 15px;
    }
}