@media (max-width:400px) {
    .titulo-principal {
        color: violet;
        text-align: center;
        padding: 0.5rem;
    }
    .productosImport {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25vh;
        background-color: rgba(237, 237, 237);
    }
    .imagenes-carrusel {
        background-color: black;
        height: 200px;
        display: flex;
        justify-content: center;
        /* width: 100%; */
    }
    /*fin seccion imagen mobile*/
    /*inicio imagenes oferta*/
    .titulo-secundario {
        color: violet;
        text-align: center;
    }
    .imgOferta {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .imgOferta div img {
        width: 80%;
    }
    .imgOferta div {
        text-align: center;
    }
    .imgOferta div a {
        text-decoration: none;
        color: black;
    }
}

@media (max-width:700px) {
    body {
        margin: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgba(237, 237, 237);
    }
}