body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $c-fondo;
}

@media (max-width:400px) {
    .productosImport {
        // display: flex;
        // justify-content: center;
        align-items: center;
        height: 25vh;
        background-color: $c-fondo;
        margin-top: 5%;
    }
    .titulo-principal {
        color: $c-violeta;
        text-align: center;
        padding: 0.5rem;
    }
    .slider {
        // aspect-ratio: 10 / 16;
        width: 300px;
        position: relative;
        display: flex;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        margin-left: 13%;
        margin-top: 5%;
    }
    .slider img {
        width: 100%;
        left: 0;
        position: sticky;
        object-fit: cover;
        border-radius: 5px;
        scroll-snap-align: center;
    }
    .imagenes-carrusel {
        background-color: $c-negro;
        height: 100%;
        display: flex;
        justify-content: center;
        /* width: 100%; */
    }
    /*fin seccion imagen mobile*/
    /*inicio imagenes oferta*/
    .titulo-secundario {
        color: $c-violeta;
        text-align: center;
    }
    .pro-oferta {
        width: 100%;
        margin-top: 5%;
    }
    .imgOferta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 8%;
        // margin-bottom: 5%;
        text-align: center;
        gap: 1rem;
    }
    .imgOferta div img {
        width: 90%;
        height: 70%;
        border-radius: 15px;
    }
    .imgOferta div {
        text-align: center;
    }
    .imgOferta-a {
        text-decoration: none;
        color: $c-negro;
    }
}

@media (min-width:551px) and (max-width:700px) {
    .slider {
        // aspect-ratio: 10 / 16;
        width: 400px;
        position: relative;
        display: flex;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        // margin-left: 20%;
        margin-top: 5%;
    }
    .slider img {
        width: 100%;
        left: 0;
        position: sticky;
        object-fit: cover;
        border-radius: 5px;
        scroll-snap-align: center;
    }
    .productosImport {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        text-align: center;
        color: $c-violeta;
        flex-direction: column;
        align-items: center;
    }
    .titulo-secundario {
        color: $c-violeta;
        text-align: center;
        margin-top: 5%;
    }
    .imgOferta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 4%;
        // margin-bottom: 5%;
        text-align: center;
    }
    .imgOferta img {
        // width: 70%;
        // border-radius: 15px;
        width: 75%;
        height: 80%;
        border-radius: 20px;
    }
}

@media (min-width:701px) and (max-width:1921px) {
    /*inicio seccion imagen-index*/
    .titulo-principal {
        color: $c-violeta;
        text-align: center;
    }
    .productosImport {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45vh;
        background-color: $c-fondo;
        margin-top: 6%;
        flex-direction: column;
    }
    .slider {
        // aspect-ratio: 10 / 16;
        width: 500px;
        position: relative;
        display: flex;
        overflow: scroll;
        scroll-snap-type: x mandatory;
    }
    .slider img {
        width: 100%;
        left: 0;
        position: sticky;
        object-fit: cover;
        border-radius: 10px;
        scroll-snap-align: center;
    }
    .imagenes-carrusel {
        background-color: $c-negro;
        height: 300px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    /*fin seccion imagen*/
    /*inicio imagenes oferta*/
    .titulo-secundario {
        color: $c-violeta;
        text-align: center;
    }
    .imgOferta {
        display: flex;
        gap: 1.5rem;
        margin-top: 3%;
        height: 45vh;
    }
    .imgOferta div img {
        width: 100%;
        margin-left: 50px;
        height: 350px;
        border-radius: 40px;
    }
    .imgOferta div {
        text-align: center;
    }
    .imgOferta-a {
        text-decoration: none;
        color: $c-negro;
        text-align: center;
    }
}

@media (min-width:401px) and (max-width:550px) {
    .productosImport {
        margin-top: 5%;
        display: flex;
        justify-content: center;
        text-align: center;
        color: $c-violeta;
        flex-direction: column;
        align-items: center;
    }
    .slider {
        // aspect-ratio: 10 / 16;
        width: 310px;
        position: relative;
        display: flex;
        overflow: scroll;
        scroll-snap-type: x mandatory;
        // margin-left: 22%;
        margin-top: 15px;
    }
    .slider img {
        width: 100%;
        left: 0;
        position: sticky;
        object-fit: cover;
        border-radius: 5px;
        scroll-snap-align: center;
    }
    .imagenes-carrusel {
        background-color: $c-negro;
        height: 100%;
        display: flex;
        justify-content: center;
        /* width: 100%; */
    }
    .titulo-secundario {
        color: $c-violeta;
        text-align: center;
        margin-top: 5%;
    }
    .imgOferta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 4%;
        // margin-bottom: 5%;
        text-align: center;
    }
    .imgOferta img {
        width: 85%;
        height: 70%;
        border-radius: 15px;
    }
}