@media (max-width:400px) {
    .tit-princ-2 {
        color: $c-violeta;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $c-fondo;
        margin-top: 10px;
    }
    .productos-pag2 {
        display: grid;
        gap: 0rem;
        height: 100vh;
        grid-template-columns: 50% 50%;
    }
    .img-productos {
        text-align: center;
        text-decoration: none;
    }
    .img-productos img {
        width: 90px;
        height: auto;
    }
}

@media (max-width:700px) {
    body {
        margin: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $c-fondo;
    }
    .tit-princ-2 {
        color: $c-violeta;
        text-align: center;
        margin-top: 5%;
    }
    .productos-pag2 {
        display: grid;
        height: 100vh;
        grid-template-columns: 50% 50%;
        /* margin-right: 50px; */
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .img-productos {
        text-align: center;
        text-decoration: none;
    }
    .img-productos img {
        width: 150px;
        height: auto;
    }
}

@media (min-width:701px) and (max-width:1921px) {
    body {
        margin: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $c-fondo;
    }
    .tit-princ-2 {
        color: $c-violeta;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
        background-color: $c-fondo;
        margin-top: 5rem;
    }
    .productos-pag2 {
        display: grid;
        gap: 0rem;
        margin-top: -45px;
        height: 100vh;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .img-productos {
        width: 80%;
        margin-left: 40px;
        text-align: center;
        text-decoration: none;
    }
    .img-productos img {
        width: 350px;
        height: auto;
    }
}