body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $c-fondo;
}

@media (max-width:401px) {
    .tit-princ-2 {
        color: $c-violeta;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $c-fondo;
        margin-top: 5%;
        font-size: 1.18rem;
    }
    .productos-pag2 {
        display: grid;
        margin-top: 5%;
        height: 100%;
        grid-template-columns: 50% 50%;
        margin-bottom: 5%;
    }
    .img-productos {
        text-align: center;
        text-decoration: none;
    }
    .img-productos img {
        width: 60%;
        height: auto;
        border-radius: 10px;
    }
}

@media (min-width:402px) and (max-width:700px) {
    .tit-princ-2 {
        color: $c-violeta;
        text-align: center;
        margin-top: 5%;
        font-size: 1.2rem;
    }
    .productos-pag2 {
        display: grid;
        height: 100%;
        grid-template-columns: 50% 50%;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    .img-productos {
        text-align: center;
        text-decoration: none;
    }
    .img-productos img {
        width: 70%;
        height: auto;
        border-radius: 15px;
    }
}

@media (min-width:701px) and (max-width:1921px) {
    .tit-princ-2 {
        color: $c-violeta;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
        background-color: $c-fondo;
        margin-top: 4%;
        font-size: 1.3rem;
    }
    .productos-pag2 {
        display: grid;
        gap: 0rem;
        margin-top: -25px;
        height: 100vh;
        grid-template-columns: 25% 25% 25% 25%;
    }
    .img-productos {
        width: 80%;
        margin-left: 40px;
        text-align: center;
        text-decoration: none;
        img {
            width: 350px;
            height: auto;
            border-radius: 30px;
            animation: jello-horizontal .9s linear both;
            animation-delay: .1s
        }
        img:hover {
            animation: escala-center 0.6s;
        }
    }
    @keyframes escala-center {
        0% {
            transform: scale(.5)
        }
        100% {
            transform: scale(1)
        }
    }
    @keyframes jello-horizontal {
        0% {
            transform: scale3d(1, 1, 1)
        }
        30% {
            transform: scale3d(1.25, .75, 1)
        }
        40% {
            transform: scale3d(.75, 1.25, 1)
        }
        50% {
            transform: scale3d(1.15, .85, 1)
        }
        65% {
            transform: scale3d(.95, 1.05, 1)
        }
        75% {
            transform: scale3d(1.05, .95, 1)
        }
        100% {
            transform: scale3d(1, 1, 1)
        }
    }
}