body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $c-fondo;
}

@media (max-width:400px) {
    .titulo-principal-3 {
        color: $c-violeta;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $c-fondo;
        margin-top: 1px;
        font-size: 1.18rem;
    }
    .labels {
        display: grid;
        align-content: stretch;
        justify-content: center;
        gap: 5rem;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .sponsor {
        display: none;
    }
}

@media (max-width:700px) {
    .titulo-principal-3 {
        color: $c-violeta;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $c-fondo;
        margin-top: 5%;
        font-size: 1.16rem;
    }
    .labels {
        display: grid;
        align-content: stretch;
        justify-content: center;
        gap: 5rem;
        margin-top: 8%;
        margin-bottom: 8%;
    }
    .sponsor {
        display: none;
    }
}

@media (min-width:701px) and (max-width:1921px) {
    .titulo-principal-3 {
        color: $c-violeta;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
        background-color: $c-fondo;
        margin-top: 5rem;
        font-size: 1.3rem;
    }
    .labels {
        display: grid;
        gap: 5rem;
        grid-template-columns: 1fr 1fr;
        margin-left: 20rem;
        margin-bottom: 10rem;
    }
    .sponsor {
        display: flex;
        align-items: center;
        gap: 25rem;
        margin-left: 5rem;
        img {
            border-radius: 10px;
        }
    }
}