// @media (max-width:400px) {
//     .foot {
//         padding: 1rem;
//         display: flex;
//         cursor: pointer;
//         background: $c-nav;
//         height: 10vh;
//         width: 100%;
//         flex-direction: row;
//         align-items: center;
//         margin-top: auto;
//     }
//     .contacto {
//         color: $c-fondo;
//         width: 50%;
//     }
//     .redes {
//         display: inline;
//         margin-left: 60px;
//         color: $c-fondo;
//     }
//     .redes h3 {
//         margin-left: 40px;
//     }
//     .redes div a {
//         margin-left: 70px;
//         color: $c-fondo;
//     }
// }
@media (max-width:550px) {
    .foot {
        // padding: 1rem;
        display: flex;
        cursor: pointer;
        background: $c-nav;
        height: 10vh;
        width: 100%;
        flex-direction: row;
        align-items: center;
        position: absolute;
        padding: 0%;
        bottom: 0;
    }
    .contacto {
        color: $c-fondo;
        width: 50%;
        margin-left: 5%;
    }
    .redes {
        display: inline;
        margin-left: 60px;
        color: $c-fondo;
    }
    .redes h3 {
        margin-left: 40px;
    }
    .redes div a {
        margin-left: 70px;
        color: $c-fondo;
    }
}

@media (min-width:551px) and (max-width:700px) {
    .foot {
        padding: 1rem;
        display: flex;
        cursor: pointer;
        background: $c-nav;
        height: 10vh;
        width: 100%;
        flex-direction: row;
        align-items: center;
        // position: absolute;
        // padding: 0%;
        // bottom: 0;
    }
    .contacto {
        color: $c-fondo;
        width: 50%;
    }
    .redes {
        display: inline;
        margin-left: 60px;
        color: $c-fondo;
    }
    .redes h3 {
        margin-left: 40px;
    }
    .redes div a {
        margin-left: 70px;
        color: $c-fondo;
    }
}

@media (min-width:701px) and (max-width:1921px) {
    .foot {
        padding: 1rem;
        display: flex;
        cursor: pointer;
        background: $c-nav;
        height: 5vh;
        /* width: 100%; */
    }
    .contacto {
        color: $c-fondo;
        width: 50%;
    }
    .redes {
        display: inline;
        margin-left: 400px;
        color: $c-fondo;
    }
    .redes h3 {
        margin-left: 40px;
    }
    .redes div a {
        margin-left: 70px;
        color: $c-fondo;
    }
}

@media (max-width:550px) {
    .foot-producto {
        // padding: 1rem;
        display: flex;
        cursor: pointer;
        background: $c-nav;
        height: 10vh;
        width: 100%;
        flex-direction: row;
        align-items: center;
        // position: absolute;
        padding: 0%;
        // bottom: 0;
    }
    .contacto {
        color: $c-fondo;
        width: 50%;
        margin-left: 5%;
    }
    .redes {
        display: inline;
        margin-left: 60px;
        color: $c-fondo;
    }
    .redes h3 {
        margin-left: 40px;
    }
    .redes div a {
        margin-left: 70px;
        color: $c-fondo;
    }
}

@media (min-width:551px) and (max-width:700px) {
    .foot-producto {
        padding: 1rem;
        display: flex;
        cursor: pointer;
        background: $c-nav;
        height: 10vh;
        width: 100%;
        flex-direction: row;
        align-items: center;
        // position: absolute;
        // padding: 0%;
        // bottom: 0;
    }
    .contacto {
        color: $c-fondo;
        width: 50%;
    }
    .redes {
        display: inline;
        margin-left: 60px;
        color: $c-fondo;
    }
    .redes h3 {
        margin-left: 40px;
    }
    .redes div a {
        margin-left: 70px;
        color: $c-fondo;
    }
}

@media (min-width:701px) and (max-width:1921px) {
    .foot-producto {
        padding: 1rem;
        display: flex;
        cursor: pointer;
        background: $c-nav;
        height: 5vh;
        /* width: 100%; */
    }
    .contacto {
        color: $c-fondo;
        width: 50%;
    }
    .redes {
        display: inline;
        margin-left: 400px;
        color: $c-fondo;
    }
    .redes h3 {
        margin-left: 40px;
    }
    .redes div a {
        margin-left: 70px;
        color: $c-fondo;
    }
}